@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --color-primary: #f01245;
  --color-secondary: #007ACA;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-grey: #dcdcdc;
  --color-bg: #f0f0f0;
  --color-accent: #f0f0f0;
  --color-dark: #808080;
  --border-radius: 4px;
}

html {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  height: 100%;
}

body {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-black);
}
body.has-menu .content {
  margin-top: 5rem;
}
body.pattern {
  background: url(/images/bg.png?f68eda5779576f5e091782bfa74f1f63) var(--color-bg);
}

.content {
  width: 100%;
  min-height: calc(100% - 5rem);
}
.content--center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

img {
  vertical-align: middle;
  width: 100%;
}

a,
span,
p,
div,
strong,
em,
button {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-16 {
  margin-bottom: 4rem;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-16 {
  margin-top: 4rem;
}

.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-8 {
  margin-left: 2rem;
}
.ml-16 {
  margin-left: 4rem;
}

.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-8 {
  margin-right: 2rem;
}
.mr-16 {
  margin-right: 4rem;
}

.w-1 {
  width: 1rem;
}
.w-2 {
  width: 2rem;
}
.w-3 {
  width: 3rem;
}
.w-4 {
  width: 4rem;
}
.w-8 {
  width: 8rem;
}
.w-10 {
  width: 10rem;
}
.w-12 {
  width: 12rem;
}
.w-16 {
  width: 16rem;
}
.w-20 {
  width: 20rem;
}

.pseudo {
  opacity: 0;
}

.split {
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.heading {
  font-weight: 700;
  color: var(--color-secondary);
}
.heading--1 {
  font-size: 2rem;
}
.heading--2 {
  font-size: 1.5rem;
}
.heading--3 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-secondary);
}

.subheading {
  font-size: 0.875rem;
  color: var(--color-dark);
}

.header {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5rem;
  background: var(--color-white);
  padding: 0.5rem 4rem;
  z-index: 997;
  border-bottom: 2px solid var(--color-grey);
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  background: var(--color-white);
  border-radius: var(--border-radius);
  overflow: hidden;
}
table thead tr {
  height: 3rem;
  background: var(--color-black);
  color: var(--color-white);
}
table thead tr td {
  border: none;
}
table tr {
  height: 3rem;
  text-align: left;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--color-accent);
}
table tr--head {
  border: none;
}
table tr--big, table tr--l {
  height: 5rem;
}
table tr--big .table__cell, table tr--l .table__cell {
  height: 5rem;
}
table td {
  padding: 1rem;
  border-right: none;
  border-left: none;
}
table td-content {
  height: 100%;
  font-weight: 500;
  color: var(--color-grey-dark);
}
table td-content--head {
  font-weight: 700;
  color: var(--color-white);
}
table__img {
  height: 100%;
  max-height: 4rem;
}
table__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.label {
  display: flex;
  flex-direction: column;
}
.label--horizontal {
  flex-direction: row;
  align-items: center;
}
.label__text {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.input {
  padding: 1rem 1.5rem;
  border: none;
  background: var(--color-white);
  border-radius: var(--border-radius);
  width: 100%;
}
.input--secondary {
  background: var(--color-accent);
}
.input:focus {
  outline: 2px solid var(--color-primary);
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  width: 1rem;
  height: 1rem;
}

.checkbox {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.checkbox__body {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1.5px solid var(--color-black);
}
.checkbox__icon {
  display: none;
  height: 0.625rem;
}
.checkbox__icon path {
  width: 100%;
}
.checkbox:checked + .checkbox__body {
  background-color: var(--color-black);
}
.checkbox:checked + .checkbox__body .checkbox__icon {
  display: block;
}
.checkbox:checked + .checkbox__body .checkbox__label {
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--color-primary);
}
.icon--white {
  fill: var(--color-white);
}
.icon--accent {
  fill: var(--color-accent);
}

.button {
  display: flex;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  padding: 0.75rem 1.5rem;
  border-radius: 48px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.button--small {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.timeline {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 5rem);
}
.timeline__years {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border-left: 24px solid var(--color-grey);
  border-right: 24px solid var(--color-grey);
  height: 100%;
  width: 25%;
  background: var(--color-bg);
}
.timeline__year {
  padding: 1rem 0;
  color: var(--color-dark);
  font-weight: 700;
}
.timeline__year--active {
  color: var(--color-black);
  font-size: 1.5rem;
}
.timeline__cards {
  display: grid;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr;
}
.timeline__cards > .left {
  margin-right: 25%;
}
.timeline__cards > .right {
  margin-top: 10rem;
  margin-left: 25%;
}
.timeline__card {
  padding: 2rem 4rem;
}
.timeline__card--alt {
  grid-column: 3/4;
}
.timeline__separator {
  min-height: 1.5rem;
  width: 100%;
  margin: 2rem 0;
  background: linear-gradient(to right, var(--color-grey), transparent);
}
.timeline__separator--rev {
  background: linear-gradient(to left, var(--color-grey), transparent);
}
.timeline__img {
  height: 15rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.timeline__heading {
  color: var(--color-secondary);
}
.timeline__sub {
  display: block;
  color: var(--color-dark);
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event__content {
  max-width: 75rem;
  width: 100%;
  padding: 2rem 0;
}
.event__split {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
