.login {
    display: flex;
    background-color: var(--color-white);
    padding: 3rem;
    min-width: 35rem;
    border-radius: 8px;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        max-width: 50%;
    }

    &__submit {
        display: flex;
        justify-content: space-between;
    }
}
